html {
    background-color: #fff;
    color: #000;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    margin: 10px;
}

body {
    margin: 0px;
}

.title {
    font-size: 36px;
    padding-bottom: 2%;
}

a {
    font-size: 26px;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    color: #000;
    transition: border 500ms ease-in-out; 
    text-decoration: none;
}

a:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 1);
}

.logo{
    display: block;
    margin: auto;
    width: 80vw;
    padding-bottom: 5%;
    padding-top: 5%;
    max-width: 50vh;
    max-height: 50vh;
}

img {
    display: block;
    filter: drop-shadow(0px 0px 5px #222);
    width: 100%;
    height: 100%;
}

::selection {
    background: #000;
}

::-webkit-scrollbar {
      padding: 5%;
      width: 10px;
}

::-webkit-scrollbar-track {
      background: #fff;
}
  
::-webkit-scrollbar-thumb {
      background: #999;
}
  
::-webkit-scrollbar-thumb:hover {
      background: #777;
}